@import "compass/reset";
@import "contact-page";
@import "basket";
@import "basket-continue";

@font-face {
  font-family: 'Arial';
  src: url('../resources/Arial/ArialMT.woff') format('woff'),
       url('../resources/Arial/ArialMT.ttf') format('truetype'),
       url('../resources/Arial/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('../resources/Arial/arial.eot');
  src: url('../resources/Arial/arial.woff2') format('woff2'),
       url('../resources/Arial/arial.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}
@mixin direction {
  @include site-container;
  padding: 6px 0;
  background-color: #94d10e;
  .arrow-back {
    float: left;
    margin: 5px 0 0 0;
  }
  .direction-title {
    margin: 0 auto;
    text-align: center;
    a {
      color: white;
      font: 400 15px / 25px 'Arial', sans-serif;
      text-transform: uppercase;
    }
  }
}
@mixin mapWrapper {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	box-sizing: border-box;

    iframe {
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    }

}
@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.direction {
  @include direction;
}
/*---------------------------------------*/
header {
  height: 68px;
  background-color: #ededed;
  border-top: 5px solid #94d10e;

  .wrapper {
    padding: 0 10px; 
    position: relative;
  }
}
.dropdovn-menu-mobile {
  position: relative;
  .hidden-menu {
    display: block;
    position: absolute;
    list-style:none;
    padding: 35px 0 10px 0;
    margin: 0;
    box-sizing: border-box;
    width: 320px;
    background-color: #ededed;
    height: auto;
    top: -15px;
    left: -650px;
    transition: left .2s;
    z-index: 999;
    -webkit-transform: classZ(0);
    -webkit-backface-visibility: hidden;
    li {
      display: block;
      width: 100%;
      height: 43px;
      margin: 0 auto;
      text-align: left;
      line-height: 43px;
      vertical-align: middle;

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 26px;
        color: #4d4d4d;
        font: 400 22px / 43px 'Arial', sans-serif;
        @include transition;

        &:hover {
          color: #fff;
          background: #94d10e;
        }
      }
      a.active {
        color: #fff;
        background: #94d10e;
      }
    }
  }
  .hidden-menu-ticker {
    display: none;
  }
  .btn-menu {
    color: #fff;
    background-color: none;
    position: absolute;
    top: 10px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 9999;
    width: 22px;
    -webkit-transform: classZ(0);
    -webkit-backface-visibility: hidden;
  }
  .btn-menu span {
    display: block;
    height: 2px;
    background-color: #09adef;
    margin: 3px 0 0;
    transition: all .1s linear .23s;
    border-radius: 10px;
    position: relative;
  }
  .btn-menu span.first {
    margin-top: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu {
    left: 280px;
    top: 0;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu {
    left: -10px;
    overflow: hidden;
    margin: 5px 0 0 0;
  }
  // .hidden-menu-ticker:checked ~ .btn-menu span.first {
  //   -webkit-transform: rotate(45deg);
  //   top: 5px;
  //   background-color: #fff;
  // }
  // .hidden-menu-ticker:checked ~ .btn-menu span.second {
  //   opacity: 0;
  // }

  // .hidden-menu-ticker:checked ~ .btn-menu span.third {
  //   -webkit-transform: rotate(-45deg);
  //   top: -5px;
  //   background-color: #fff;
  // }
}

/*logo*/
.logo {
  width: 153px;
  height: auto;
  overflow: hidden;
  margin: 20px auto 0;
  padding-left: 35px;
  padding-top: 5px;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}
/*dropdown phone*/
    .call-us-block {
        float: right;
        margin: 0;
        vertical-align: middle;

        img {
          display: inline-block;
          line-height: 33px;
          vertical-align: middle;
        }
    }
    #info-mobile {
        width: 251px;
        height: auto;
        background-color: #ededed;
        clear:none;
        float: right;
        position: absolute;
        top: 36px;
        right: 0;
        z-index: 100;
        @include transition;

        a {
          display: block;
          margin: 28px auto;
          text-align: center;
          .phone {
            color: #535353;
            font: 700 22px / 24px 'Arial', sans-serif;
            }
        }
    }
    .call-us-block > label {
      color: #000; 
      float: right; 
      margin: 5px 0 0;
      cursor: pointer;
      @include transition;
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}

  /*end dropdown phone*/
/*end menu*/
/*basket*/
.basket-block {
  float: right;
  width: 40px;
  height: 31px;
  position: relative;
  margin-left: 10px;

  .basket-img {
    max-width: 100%;
    height: auto;
  }

  .basket-count {
    position: absolute;
    top: 5px;
    left: -5px;
    display: block;
    width: 19px;
    height: 19px;
    color: white;
    font: 400 12px / 19px 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 23px;
    background-color: #94d10e;
    border-radius: 100%;
  }
}
/*end basket*/
/*------------------------------------*/
.search-section {
  padding: 19px 0 10px;
  .input {
    width: 100%;
    max-width: 289px;
    margin: 0 auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    input {
      display: block;
      max-width: 289px;
      width: 100%;
      height: 32px;
      box-sizing: border-box;
      margin: 0 auto;
      border: 1px solid #aeaeae;
      border-radius: 2px;
    }

  }
  .ui.icon.input > i.icon {
    cursor: default;
    position: absolute;
    line-height: 1;
    text-align: center;
    top: 8px;
    right: 8px;
    margin: 0em;
    height: 14px;
    width: 14px;
    opacity: 0.5;
    border-radius: 0em 0.28571429rem 0.28571429rem 0em;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  .ui.icon.input > i.icon:not(.link) {
      pointer-events: none;
      color: #39a0d6;
  }
}
.page-content {
  @include site-container;
  padding: 0 0 26px 0;

  .mobile-menu {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;

    li {
      display: block;
      width: 100%;
      margin: 8px auto;
      background-image: linear-gradient(to top, #0481b0 0%, #09aef0 100%);
      border-radius: 2px;
      box-shadow: 1.5px 2.6px 0 rgba(0, 0, 0, 0.11);

      a {
        display: block;
        padding: 14px 0 17px;
        text-decoration: none;
        color: white;
        font: 400 22px / 23px 'Arial', sans-serif;
      }
    }
  }

  .swiper-container {
      width: 100%;
      height: 100%;
      max-width: 375px;
      box-sizing: border-box;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden; 
      position: relative;
  }
  .swiper-container-promotional-items {
    margin: 19px auto 0;
    padding: 36px 0 10px 10px;
    border: 3px solid #ff0f34;
    border-radius: 6px;
  }
  .swiper-slide {
      overflow: hidden;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column; 
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: left;
      -webkit-align-items: left;
      align-items: left;
  }
  .swiper-container-promotional-items {

    .slider-direction {
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to top, #ff023b 0%, #ff6302 100%);
      width: 100%;
      height: 36px;

      .container-title {
        margin: 5px auto 0;
        text-align: center;
        color: white;
        font: 400 18px / 23px 'Arial', sans-serif;
      }
    }

    .swiper-slide {
      max-width: 375px;
      width: 100%;
      padding-left: 10px;
      box-sizing: border-box;
      overflow: hidden;

      .product-title {
        margin: 18px auto 0;
        color: #4d4d4d;
        font: 400 18px / 22px 'Arial', sans-serif;
        text-align: left;
        a {
          color: #4d4d4d;
        }
      }
      .img-container {
        max-width: 177px;
        width: 100%;
        max-height: 161px;
        height: 100%;
        margin: 28px auto;
        text-align: center;
        overflow: hidden;

        img {
          max-width: 100%;
          height: auto;
        }
      }
      .red-price {
        text-align: left;
        color: #ff0b36;
        font: 700 22px / 24px 'Arial', sans-serif;
        a {
          color: #ff0b36;
        }
        .through-price {
          text-decoration: line-through;
        }
        .capitalize-word {
          text-transform: capitalize;
        }
      }
      .arrow-picture {
        width: 150px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .product-more {
        display: block;
        width: 153px;
        height: 33px;
        color: white;
        margin: 19px auto 28px;
        text-align: center;
        font: 400 20px / 33px 'Arial', sans-serif;
        border-radius: 7px;
        background-image: linear-gradient(to top, #047fad 0%, #09adef 100%);
        box-shadow: 2px 3.5px 0 rgba(28, 28, 28, 0.13);
        @include transition;

        // &:hover {
        //   box-shadow: 2px 3.5px 0 #047fad;
        // }
      }
    }
  }
  .swiper-container-popular-products {
    margin: 15px auto;
    padding: 36px 0 10px 10px;
    border: 3px solid #a8df1a;
    border-radius: 6px;

    .slider-direction {
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to top, #ff023b 0%, #64ab01 0%, #9ed911 100%);
      z-index: 9;
      width: 100%;
      height: 36px;

      .container-title {
        margin: 5px auto 0;
        text-align: center;
        color: white;
        font: 400 18px / 23px 'Arial', sans-serif;
      }
    }

    .swiper-slide {
      max-width: 375px;
      width: 100%;
      padding-left: 10px;
      box-sizing: border-box;
      overflow: hidden;

      .product-title {
        margin: 18px auto 0;
        color: #4d4d4d;
        font: 400 18px / 22px 'Arial', sans-serif;
        text-align: left;
        a {
          color: #4d4d4d;
        }
      }
      .img-container {
        max-width: 177px;
        width: 100%;
        max-height: 161px;
        height: 100%;
        margin: 28px auto;
        text-align: center;
        overflow: hidden;

        img {
          max-width: 100%;
          height: auto;
        }
      }
      .red-price {
        text-align: left;
        color: #ff0b36;
        font: 700 22px / 24px 'Arial', sans-serif;
        a {
          color: #ff0b36;
        }
        .through-price {
          text-decoration: line-through;
        }
        .capitalize-word {
          text-transform: capitalize;
        }
      }
      .arrow-picture {
        width: 150px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .product-more {
        display: block;
        width: 153px;
        height: 33px;
        color: white;
        margin: 19px auto 28px;
        text-align: center;
        font: 400 20px / 33px 'Arial', sans-serif;
        border-radius: 7px;
        background-image: linear-gradient(to top, #047fad 0%, #09adef 100%);
        box-shadow: 2px 3.5px 0 rgba(28, 28, 28, 0.13);
        @include transition;

        // &:hover {
        //   box-shadow: 2px 3.5px 0 #047fad;
        // }
      }
    }
  }
  .swiper-container-latest-products {
    padding: 36px 0 10px 10px;
    border: 3px solid #a8df1a;
    border-radius: 6px;

    .slider-direction {
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to top, #ff023b 0%, #64ab01 0%, #9ed911 100%);
      z-index: 9;
      width: 100%;
      height: 36px;

      .container-title {
        margin: 5px auto 0;
        text-align: center;
        color: white;
        font: 400 18px / 23px 'Arial', sans-serif;
      }
    }

    .swiper-slide {
      max-width: 375px;
      width: 100%;
      padding-left: 10px;
      box-sizing: border-box;
      overflow: hidden;

      .product-title {
        margin: 18px auto 0;
        color: #4d4d4d;
        font: 400 18px / 22px 'Arial', sans-serif;
        text-align: left;
        a {
          color: #4d4d4d;
        }
      }
      .product-price {
        margin: 0 auto 27px;
        text-align: center;
        color: #ff3c19;
        font: 400 20px / 23px 'Arial', sans-serif;
      }
      .img-container {
        max-width: 177px;
        width: 100%;
        max-height: 161px;
        height: 100%;
        margin: 28px auto;
        text-align: center;
        overflow: hidden;

        img {
          max-width: 100%;
          height: auto;
        }
      }
      .red-price {
        text-align: left;
        color: #ff0b36;
        font: 700 22px / 24px 'Arial', sans-serif;
        a {
          color: #ff0b36;
        }
        .through-price {
          text-decoration: line-through;
        }
        .capitalize-word {
          text-transform: capitalize;
        }
      }
      .arrow-picture {
        width: 150px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .product-more {
        display: block;
        width: 153px;
        height: 33px;
        color: white;
        margin: 19px auto 28px;
        text-align: center;
        font: 400 20px / 33px 'Arial', sans-serif;
        border-radius: 7px;
        background-image: linear-gradient(to top, #047fad 0%, #09adef 100%);
        box-shadow: 2px 3.5px 0 rgba(28, 28, 28, 0.13);
        @include transition;

        // &:hover {
        //   box-shadow: 2px 3.5px 0 #047fad;
        // }
      }
    }
  }
}
/*----------------------------------------------------*/
footer {
  @include site-container;
  padding: 26px 0 0;
  background-color: #ededed;

  .footer-info-list {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;

    li {
      display: block;
      width: 100%;
      margin: 10px auto;
      color: #4d4d4d;
      font: 400 16px / 23px 'Arial', sans-serif;

      strong {
        font-size: 22px;
        font-weight: 700;
      }
      a {
        color: #4d4d4d;
      }
    }
  }
  
  .social-icons {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 16px auto 34px;
    text-align: center;
    li {
      display: inline-block;
      margin: 10px auto;
    }
  }  

  .copyright {
    padding: 16px 0 17px;
    background: #fff;
    h4 {
      margin: 0 auto;
      text-align: center;
      color: #4d4d4d;
      font: 400 12px / 14px 'Arial', sans-serif;
      a {
        color: #4d4d4d;
      }
    }
  }
}
/*----------------------------------------------------*/